header {
  text-align: center;
  color: rgb(68, 38, 206);
}

.menu-item {
  color: rgb(51, 153, 255);
  background: rgb(230, 242, 255);
  cursor: pointer;
  display: block;
  margin: auto;
  margin-top: 20px;
  border-radius: 15%;
  height: 50px;
  width: 200px;
  font-size: 18px;
}

.menu-item:hover {
  color: rgb(153, 102, 255);
  background: rgb(238, 230, 255);
}

.board {
  border: 5px solid black;

  background: rgb(0, 255, 255);
  min-width: 400px;
  margin: auto;
  text-align: center;
  overflow: hidden;
}

.player-row {
  color: rgb(227, 227, 215);
  background: rgb(4, 67, 60);
}

.large-pit {
  min-width: 100px;
  color: black;
  background: rgb(0, 0, 204);
  border: 1px solid black;
  border-radius: 50%;
}

.pit {
  width: 75px;
  height: 75px;
  color: #be6060;
  cursor: pointer;
  background: rgb(42, 162, 219);
  border: 1px solid black;
  border-radius: 50%;
}

.pit:hover {
  background: rgb(51, 153, 255);
}

#player1-row td {
  border-top: 2px solid black;
}

#player2-row td {
  border-bottom: 2px solid black;
}
